<nav class="navbar">
    <a routerLink="/" class="navbar__logo">{{ text.logo }}</a>

    <button class="navbar__toggle" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen()"
        aria-label="Menu">
        <img src="assets/icons/menu.svg" alt="" width="24" height="24" />
    </button>

    <div class="navbar__right" [class.navbar__right--open]="isMenuOpen()">
        <a routerLink="/booking" class="navbar__link" (click)="closeMenu()">{{ text.booking }}</a>

        @if (authService.currentUser(); as user) {
        <a routerLink="/my-reservations" class="navbar__link" (click)="closeMenu()">{{ text.myReservations }}</a>
        @if (user.role === 'ADMIN') {
        <a routerLink="/admin" class="navbar__link" (click)="closeMenu()">{{ text.adminPanel }}</a>
        }
        <span class="navbar__divider"></span>

        <div class="navbar__account">
            <button type="button" class="navbar__account-trigger" (click)="toggleAccountMenu()"
                [attr.aria-expanded]="isAccountMenuOpen()">
                <span class="navbar__email">{{ user.email }}</span>
                <img class="navbar__chevron" [class.navbar__chevron--open]="isAccountMenuOpen()"
                    src="assets/icons/keyboard_arrow_down.svg" alt="" width="16" height="16" />
            </button>

            @if (isAccountMenuOpen()) {
            <div class="navbar__account-menu">
                <a routerLink="/account" class="navbar__account-menu-link" (click)="closeMenu()">{{
                    text.changeDetails }}</a>
                <a routerLink="/change-password" class="navbar__account-menu-link" (click)="closeMenu()">{{
                    text.changePassword }}</a>
            </div>
            }
        </div>

        <button class="btn-ghost navbar__logout" (click)="logout()">{{ text.logout }}</button>
        } @else {
        <a routerLink="/login" class="navbar__link" (click)="closeMenu()">{{ text.login }}</a>
        <a routerLink="/register" class="navbar__link" (click)="closeMenu()">{{ text.register }}</a>
        }
    </div>
</nav>