@if (isLoading()) {
<p>{{ text.loading }}</p>
} @else if (notFound()) {
<p>{{ text.notFound }}</p>
} @else if (reservation(); as res) {
<div>
    <h2>{{ text.titlePrefix }}{{ res.id }}</h2>
    <p>{{ text.status }}{{ res.status }}</p>
    <p>{{ text.checkIn }}{{ res.checkInDate | date }}</p>
    <p>{{ text.checkOut }}{{ res.checkOutDate | date }}</p>
    <p>{{ text.guestsLabel }}{{ res.guestsCount ?? text.guestsNotProvided }}</p>
    <p>{{ text.totalLabel }}{{ res.totalPrice }} {{ text.currency }}</p>

    <p>
        {{ text.linkIntro }}
        <br />
        <a [href]="accessLink">{{ accessLink }}</a>
    </p>
</div>
}